.log-bar-main {
    background-color: white;
    padding-left: 2px;
    padding-top: 2px;
    overflow-y: scroll;
    min-height: 100px;
    min-width: 100px;
    opacity: 0.2;
}

.log-bar-main:hover {
    opacity: 1;
}
