.hidden {
  display: none;
}

html,
body,
#app,
.app {
  height:100%;
  margin: 0;
}

button,
button:active,
button:focus {
    outline: none;
}

.card .unit {
  height: 66%;
}



.turn {
  position: relative;
  left: 150px;
  top: 200px;
  background-color: white;
  opacity: 0.9;
  font-size: 3em;
  margin-top: -200px;
  z-index: 99999;
  width: 300px;
  height: 200px;
  color: white;
}

.deck {
  background-image: url("assets/backside.png");
  background-size: cover;
  border-radius: 5px;
  width: 100px;
  height: 148px;
}

.end-game {
  position: relative;
  left: 200px;
  top: 300px;
  background-color: red;
  opacity: 0.9;
  font-size: 3em;
  margin-top: -60px;
  z-index: 99999;
  width: 300px;
  color: white;
}






.myCard1 {
            transform: rotate(-11deg);
            margin-bottom:-0.7rem;
}

.myCard2 {
            transform: rotate(-5deg);

}

.myCard3 {
            transform: rotate(1deg);

}

.myCard4 {
            transform: rotate(7deg);
            margin-bottom:-0.2rem;
}

.myCard5 {
            transform: rotate(10deg);
            margin-bottom:-0.9rem;
}

.myCard1:hover,
.myCard2:hover,
.myCard3:hover,
.myCard4:hover,
.myCard5:hover  {
   transform: rotate(0deg);
}



.hand-active {
  border: 1px solid red;
  width: auto;
}



.myCard2 {
            transform: rotate(-5deg);

}

.myCard3 {
            transform: rotate(1deg);

}

.myCard4 {
            transform: rotate(7deg);
            margin-bottom:-0.2rem;
}

.myCard5 {
            transform: rotate(10deg);
            margin-bottom:-0.9rem;
}




  .log-bar-head {
      height: 45px;
      background-color: white;
  }



@keyframes shows-from-r-to-l {
  0% {
   transform: translate(+400px, 0);
   opacity: 0;
  }
  50% {
   transform: translate(+250px, 0);
    opacity: 0.9;
  }
  100% {
    transform: translate(+1px, 0);
     opacity: 1;
  }
}
