.game-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: space-between;
  height: 100%;
  background-image: url("assets/bord-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.game-container-main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

.global-info {
  position:absolute;
  top: 50%;
  opacity: 0;
  background-color: black;
  color: white;
  position: absolute;
  width: 60%;
  text-align: center;
  z-index: 1000;
  animation: global-info-show 2s linear 1s 1;
}

.global-info--hidden {
  display: none;
}


@keyframes global-info-show {
  0% {
    transform: translate(-100%, 0);
  }
  25% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  50% {
    transform: translate(-48%, 0);
  }
  75% {
    transform: translate(-46%, 0);
    opacity: 0.9;
  }
  85% {
    transform: translate(-42%, 0);
    opacity: 0.8;
  }
  95% {
    transform: translate(-40%, 0);
    opacity: 0.8;
  }
  100% {
    transform: translate(-1%, 0);
    opacity: 0.7;
  }
}
