@media screen and (min-height: 400px) and (min-width: 400px) {
  .cell {
    width: 60px;
    height: 60px;
  }
}

@media screen and (min-height: 700px) and (min-width: 900px) {
  .cell {
    width: 120px;
    height: 120px;
  }
}

@media screen and (min-height: 1200px) and (min-width: 1600px) {
  .cell {
    width: 200px;
    height: 200px;
  }
}

.cell {
  position: relative;
  margin: 0.5em;
  z-index: 1;
}


.field {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 1em;
  background-image: url("assets/field-blood.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.unit-info {
  position:relative;
  left: 0;
  top: -40px;
  opacity: 0;
  width: 120px;
  height: 40px;
  z-index: 9999;
  background-color: white;
}

.unit-info:hover {
  opacity: 0.8;
}


.cell-cross:before, .cell-cross:after {
  opacity: 0.4;
  left:55px;
  top: 1px;
  position: absolute;
  content: '';
  height: 140px;
  width: 10px;
  background-color: #aeeaae;
}

.cell-cross:before {
  transform: rotate(45deg);
}

.cell-cross:after {
  transform: rotate(-45deg);
}

.cell-zero:after {
  top: 0.5em;
  left: 0.5em;
  opacity: 0.4;
  position: absolute;
  content: '';
  height: 80px;
  width: 80px;
  border:10px solid #99bbff;
  border-radius: 80px;
}