.hand-dwn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  align-self: flex-start;
  width: auto;
}

.card-container {
  overflow: visible;
}

.card-container:last-child {
  width: 100%;
}

.card {
  transform: translate(0, 35%);
  z-index: 1;
  background-image: url("assets/card-framed.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
  border-radius: 5px;
  margin-right: -2rem;
}

.card:hover {
  transform: translate(0, 0);
  transition: all 0.2s ease-in-out;
  z-index: 999;
  position: relative;
}

.card-info {
  height: 34%;
  text-align: center;
  padding: 0.2em;
  font-size: 0.8em;
}

.give-card {
  position: relative;
  animation: shows-from-r-to-l 0.8s linear 0.8s 1;
}

@keyframes shows-from-r-to-l {
  0% {
  overflow: visible;
   transform: translate(+200%, -10%);
   opacity: 0;
  }
  50% {
    overflow: visible;
   transform: translate(+100%, -5%);
    opacity: 0.9;
  }
  100% {
    overflow: visible;
    transform: translate(+1px, 0);
    opacity: 1;
  }
}

.card-selected {
   transform: translate(0, -10%);
   filter: saturate(3);
}

@media screen and (min-height: 440px) {
  .card-container {
    width: 80px;
    height: 120px;
  }
  .hand-dwn {
    height: 120px;
    min-width: 260px;
  }
  .card {
    width: 80px;
    height: 120px;
  }
}

@media screen and (min-height: 700px) {
  .card-container {
    width: 120px;
    height: 180px;
  }
  .card {
    width: 122px;
    height: 180px;
  }
  .hand-dwn {
    height: 180px;
    width: 370px;
  }
}

@media screen and (min-height: 1000px) {
  .card-container {
    width: 200px;
    height: 295px;
  }
  .card {
    width: 200px;
    height: 295px;
  }
  .hand-dwn {
    height: 295px;
    min-width: 610px;
  }
}
