.card-enemy {
  background-image: url("assets/backside.png");
  background-size: cover;
  border-radius: 5px;
  transform: translate(0, -30%);
  width: 40px;
  height: 60px;
}

.hand-up {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: 230px;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

@media screen and (min-height: 700px) and (min-width: 900px) {
    .card-enemy {
      width: 100px;
      height: 148px;
    }
    .hand-up {
      width: 350px;
    }
}

@media screen and (min-height: 1200px) and (min-width: 1600px) {
    .card-enemy {
      width: 122px;
      height: 180px;
    }
    .hand-up {
      width: 550px;
    }
}
