.lobby-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  justify-content: space-around;
  background: url("assets/main-background.jpg");
}

.room-item {
  text-decoration: none;
  color:black;
  font-size: 21px;
  font-family: "Arial";
  margin-bottom: 1em;
}

.rooms-list {
  padding-left: 1em;
  padding-top: 1em;
  background: rgba(255, 255, 255, 0.63);
  border-top: 2px solid rgba(0,0,0,0.9);
  box-shadow: 0 3px 3px #575555 inset;
}

.lobby-button {
  margin-top: 1rem;
  width: 180px;
  height: 60px;
  font-size: 21px;
  font-family: "Arial";
  background: rgba(164, 113, 101, 0.5);
  background: linear-gradient(to bottom, rgba(164, 113, 101, 0.5) 0%, rgba(249, 227, 184, 0.5) 50%, rgba(120, 76, 65, 0.5) 100%);
  box-shadow:
    inset rgba(0,0,0,1) -1px -4px 8px,
    inset rgba(255,255,255,1) 3px 0px 8px,
    rgba(0,0,0,0.5) 3px 3px 8px -3px;
  border-radius: 10px;
}

.rooms-list-label {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 24px;
  font-family: "Arial";
}

.logo-img {
  margin-top: 1rem;
}
